.background {
    -fx-background-color: #1d1d1d;
}

.backgroundMenu{
    -fx-background-image: url("../Images/backgroundMenu.jpg");
    -fx-background-position: center;
}

.label {
    -fx-font-size: 24pt;
    -fx-font-family: Stencil;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}
.labelInvalidInfo{
    -fx-font-size: 36pt;
    -fx-font-family: Stencil;
    -fx-text-fill: red;
    -fx-opacity: 0.9;
}

.backgroundSkull{
    -fx-background-image: url("../Images/Skulls.png");
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.buttonYellow:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;

}
.button{

    -fx-background-image: url("../Images/buttons.png");
    -fx-border: none;
    -fx-font-family: Stencil;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-text-align: center;
    -fx-opacity: 1;
    -fx-cursor: pointer;
    -fx-webkit-transition-duration: 0.4s;
    -fx-transition-duration: 0.4s;
    -fx-display: inline-block;
}
.button:hover{
    -fx-opacity: 0.5 ;
}

.buttonDirection{

    -fx-background-image: url("../Images/direction.png"); /* Green */
    -fx-border: none;

    -fx-opacity: 1;
    -fx-cursor: pointer;
    -fx-webkit-transition-duration: 0.4s; /* Safari */
    -fx-transition-duration: 0.4s;
    -fx-display: inline-block;
}

.buttonGeneral{
    -fx-background-image: url("../Images/centro.png"); /* Green */
    -fx-border: none;
    -fx-font-family: Stencil;
    -fx-font-size: 24pt;
    -fx-text-fill: #ffffff;
    -fx-text-align: center;
    -fx-opacity: 1;
    -fx-cursor: pointer;
    -fx-webkit-transition-duration: 0.4s; /* Safari */
    -fx-transition-duration: 0.4s;
    -fx-display: inline-block;

}

.buttonGeneral:hover{
    -fx-opacity: 0.5 ;
}

.buttonDirection:hover{
    -fx-opacity: 0.5 ;
}

.buttonDone{

    -fx-background-image: url("../Images/centro.png"); /* Green */
    -fx-border: none;
    -fx-font-size: 12pt;
    -fx-opacity: 1;
    -fx-cursor: pointer;
    -fx-webkit-transition-duration: 0.4s; /* Safari */
    -fx-transition-duration: 0.4s;
    -fx-display: inline-block;
}

.buttonDone:hover{
    -fx-opacity: 0.5 ;
}

.actionImage {
    -fx-background-image: url("../Images/greenAction.png");
}