.button{

    -fx-background-image: url("../Images/greenButton.png"); /* Green */


    -fx-border: none;

    -fx-font-family: Stencil;
    -fx-font-size: 24pt;
    -fx-text-fill: #e4e40f;
    -fx-text-align: center;
    -fx-opacity: 1;
    -fx-cursor: pointer;
    -fx-webkit-transition-duration: 0.4s; /* Safari */
    -fx-transition-duration: 0.4s;
    -fx-display: inline-block;
}
.button:hover{
    -fx-opacity: 0.9 ;
}

.buttonDirection{

    -fx-background-image: url("../Images/direction.png"); /* Green */
    -fx-border: none;

    -fx-opacity: 1;
    -fx-cursor: pointer;
    -fx-webkit-transition-duration: 0.4s; /* Safari */
    -fx-transition-duration: 0.4s;
    -fx-display: inline-block;
}


.buttonDirection:hover{
    -fx-opacity: 0.5 ;
}

.buttonDone{

    -fx-background-image: url("../Images/centro.png"); /* Green */
    -fx-border: none;
    -fx-font-size: 12pt;

    -fx-opacity: 1;
    -fx-cursor: pointer;
    -fx-webkit-transition-duration: 0.4s; /* Safari */
    -fx-transition-duration: 0.4s;
    -fx-display: inline-block;
}

.buttonDone:hover{
    -fx-opacity: 0.5 ;
}

.actionImage {
    -fx-background-image: url("../Images/greenAction.png");
}